/* inter-cyrillic-ext-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-400-normal.woff2?39fbf8d2c4abc46f721fd13d25f218b6) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-400-normal.woff?818b84180553acc613f3384f97852cea) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-400-normal.woff2?89455522650c3fb3654c5d83d7dda65c) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-400-normal.woff?dd21c71421d58232ef037c4d349c0e2a) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-400-normal.woff2?f2ef63e732b18d6360444188674081b8) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-400-normal.woff?fc80974ec6969ee03fd23459979ef97f) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-400-normal.woff2?e685387f69602567b1da1d3cc51ae28f) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-400-normal.woff?b412faded087fbcfa4ffd4e04e9f2091) format('woff');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-400-normal.woff2?44c9df135eec470b0ab6aa836ba2318d) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-400-normal.woff?aaa15d735e3826061950e8bde39351ab) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-400-normal.woff2?210fb826cb25acbd4094094e2ba72036) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-400-normal.woff?c616205185f0d3677df92ca67265336b) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-400-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-400-normal.woff2?eca1e21531598d5db58f56b3ba23a8cc) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-400-normal.woff?2ea1079c0069eb040a52a7830ffa0114) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inter-cyrillic-ext-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-500-normal.woff2?b2740f247d3be4a05ca0de12bae275c2) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-500-normal.woff?e9974e820735012b025b77177afb8677) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-500-normal.woff2?33a76a7cbcfcb70765348199bc683c3e) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-500-normal.woff?72f7a9db87626ca30c767f03aabf8017) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-500-normal.woff2?4c6d520b97e3bb4ef613daf68a7c640b) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-500-normal.woff?47cc2391a7edf82cf4e157441dc83bdd) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-500-normal.woff2?e7cec4ef4f6780e90a5242a21dce6fce) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-500-normal.woff?6d34bacda2be54829b9767f6e49a4532) format('woff');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-500-normal.woff2?63d02ea896a7406849b6a41762c53922) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-500-normal.woff?296d66c0bba9086788b953040f17e555) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-500-normal.woff2?cdb4dd5dc508fe6e7398cd82f5b170b8) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-500-normal.woff?2f93aaa35e870cec4704c59a51c9583c) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-500-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-500-normal.woff2?b7c27c60f848f2083f45be25012ce41d) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-500-normal.woff?5014db633e71a7741bf529652eb4197f) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inter-cyrillic-ext-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-600-normal.woff2?8c6413cdd8004fde0a19d48090ad36bc) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-600-normal.woff?d6d44e8705a633436dfe31bff84f963a) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-600-normal.woff2?fdee7b66c2d88216b75f107f3bfcf4f6) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-600-normal.woff?8609e1b95284125f21cb8753ed7144af) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-600-normal.woff2?c3c138d889b8c929822c01adae22a371) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-600-normal.woff?c7983dac0ad6a359aef088477ff8b9bb) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-600-normal.woff2?984050ecee12eabe9366dea0527d17a0) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-600-normal.woff?d8b0044cf6afdd52b07b29e9ec778f6c) format('woff');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-600-normal.woff2?6984cf5e8583fac83be3f111b0456f7b) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-600-normal.woff?04bb56ffa463ab55708d6025d9511a40) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-600-normal.woff2?8148c3ae14dfaefc62ca45a18a2bf5a7) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-600-normal.woff?4d0d5017d71ea1750fc1f006e75aac88) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-600-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-600-normal.woff2?69a8d1d484967aba2389ef57577b76be) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-600-normal.woff?f10265da6bd8d66999ac7462b6cc09d3) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inter-cyrillic-ext-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-700-normal.woff2?b0c28c6752a13fa5abaf51cd63c6a742) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-700-normal.woff?43f6f7e8a4205f05e58c01db266fef61) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-700-normal.woff2?533055ff3700190d8dfaca94f501d741) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-700-normal.woff?9f2de06ca9a7c8458434d87f0e708cd6) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-700-normal.woff2?c9429f4b77b1f85e999d705ff8ba1a84) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-700-normal.woff?0f8675bdd7f3fe3a3dbada95ce4d459d) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-700-normal.woff2?3f04511ca7c0cea0cc2f4d7041766723) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-700-normal.woff?8b95c1e2b193d0541864b143cd2da340) format('woff');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-700-normal.woff2?d1c85cabbe96efcaeb68ddbba2670217) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-700-normal.woff?05b640f829d1ac5ff29d15f31259750c) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-700-normal.woff2?bc59219ed344909a4f53c0d77ee16f2a) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-700-normal.woff?d4a91814dd3f1e022ab12d8db029e2fe) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-700-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-700-normal.woff2?1104236696a5d2d1f236f40aa0c491d1) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-700-normal.woff?c73ae7252669254d2588a24a8befeb1d) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* inter-cyrillic-ext-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-800-normal.woff2?e6e43b7a04f9a0ee40ab7565b067dd3a) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-ext-800-normal.woff?6b3d976237d00cddf2c9ba0639b72714) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C8A,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}

/* inter-cyrillic-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-800-normal.woff2?9db8aee669b5bb33882d1fb55e0d2b32) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-cyrillic-800-normal.woff?a0cb8f734a73e8bf5059c261f3d7459b) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}

/* inter-greek-ext-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-800-normal.woff2?06cacdee737ce03b4adb498eaada86b0) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-ext-800-normal.woff?d3fb89b9b7f3b4c6eb52060b00c6e598) format('woff');
  unicode-range: U+1F00-1FFF;
}

/* inter-greek-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-greek-800-normal.woff2?e9b5d2d4f24060cc1f2520c9476d3696) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-greek-800-normal.woff?af02bb9b1bd7a5e0d73a719399b7940b) format('woff');
  unicode-range: U+0370-0377,U+037A-037F,U+0384-038A,U+038C,U+038E-03A1,U+03A3-03FF;
}

/* inter-vietnamese-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-800-normal.woff2?344e8bb59f4fe38591dbb27044a23884) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-vietnamese-800-normal.woff?247535ebe16af19afc86edf571dcd35c) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+0300-0301,U+0303-0304,U+0308-0309,U+0323,U+0329,U+1EA0-1EF9,U+20AB;
}

/* inter-latin-ext-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-800-normal.woff2?295090dc5792a0e7b9c653d23e1a89cc) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-ext-800-normal.woff?581b38b1c40557386b4c130960b0c31a) format('woff');
  unicode-range: U+0100-02BA,U+02BD-02C5,U+02C7-02CC,U+02CE-02D7,U+02DD-02FF,U+0304,U+0308,U+0329,U+1D00-1DBF,U+1E00-1E9F,U+1EF2-1EFF,U+2020,U+20A0-20AB,U+20AD-20C0,U+2113,U+2C60-2C7F,U+A720-A7FF;
}

/* inter-latin-800-normal */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url(/fonts/vendor/@fontsource/inter/files/inter-latin-800-normal.woff2?d2cf8417dfce77f8f2bea87245ce39ee) format('woff2'), url(/fonts/vendor/@fontsource/inter/files/inter-latin-800-normal.woff?e25d8fa1cf6e38254bbebf09e9dbaf8b) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}
/* Inter: 400 500 600 700 800 — Fontsource self-hosted */

